body {
   padding:0;
   margin:0;
   overflow:hidden;
   text-rendering:optimizeLegibility;
   cursor:default;
   font: 72px/1 Helvetica, "Comic Sans", "Comic Sans MS", cursive;
   color: #fff;
   background-color: #000;
}

.screen {
  position:absolute;
  top: 50px;
  left: 50px;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
}

.previous {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
}
