<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="A time-full tribute to a timeless typeface.">
  <title>Helvetictoc</title>
  <style type="text/css" media="screen">
<%= css %>
  </style>
</head>
<body>
  <div id="colophon">
    <a href="http://helvetictoc.com/">Helvetictoc</a> brought to you by @<a href="http://twitter.com/tobie">tobie</a>.
  </div>

  <script type="text/javascript" charset="utf-8">
<%= js %>
  </script>
</body>
</html>
