<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="A time-full tribute to a timeless typeface.">
  <title>HELVETICTOC</title>
  <style type="text/css">{{ css }}</style>
</head>
<body>
  <script type="text/javascript">{{ js }}</script>
</body>
</html>
