<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="A time-full tribute to a timeless typeface.">
  <title>HELVETICTOC</title>
  <style type="text/css">{{ css }}</style>
</head>
<body class="night">
  <div id="colophon">A time-full tribute to a timeless typeface. Brought to you by @<a href="http://twitter.com/tobie">tobie</a>.</div>
  <div style="z-index: 0; " class="screen">It’s ’round about<br>twenty-five past<br>eleven.</div>
</body>
</html>
